html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   General styles
   ========================================================================== */

html,
body {
    height: 100%;
}

body {
    font-family: "open sans";
    font-weight: 300;
    font-size: 18px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.col-md-4 {
    padding-bottom: 20px;
}

.row {
    margin-right: 0px;
    margin-left: -15px;
}



/* ==========================================================================
   navbar-default
   ========================================================================== */
.navbar-default {
    border: none;
    background-color:rgba(22, 86, 160, 0.9) ;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    font-size: 20px;
    letter-spacing: 2px;
    
}

.navbar-default .navbar-header .navbar-brand {
    color: yellowgreen;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    color: #FAFAFA;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    background-color: yellowgreen;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: yellowgreen!important;
    background-color:transparent;
   text-decoration-line: underline;
    text-decoration-style: 0px solid;
    text-underline-position: under;
    text-decoration-color: yellowgreen;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        
        background-color: transparent;
        
    }
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7);
        letter-spacing: 0.5em;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, .7);
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }
    .navbar-default.affix {
       
        background-color: rgba(22, 86, 160, 0.9);
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
        color: #FAFAFA;
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        letter-spacing: 0;
        color: yellowgreen;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: whitesmoke;
    }
    .navbar-default.affix .nav>li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: whitesmoke;
        background-color: yellowgreen;
    }
}

/* ==========================================================================
   divider
   ========================================================================== */

.divider {
    color: #fff;
    text-align: center;
}

.divider .fa {
    color: #222;
    font-size: 52px;
    width: 70px;
    height: 80px;
    line-height: 76px;
    text-transform: capitalize;
}

.divider h2 {
    padding-bottom: 4px;
}
.divider p{
    color: black;
}

.divider .divider-wrapper {
    padding: 40px 20px 40px 20px;
    position: relative;
    bottom: 40px;
    transition: all 0.4s ease-in;
    box-shadow: 10px 10px 10px rgb(21, 40, 61 ,0.2);
}

.divider .divider-wrapper:hover {
    bottom: 60px;
    cursor: pointer;
}

.divider .divider-one {
    background:linear-gradient(rgba(233, 239, 247, 0.9), rgba(225, 226, 235, 0.9));
}

.divider .divider-two {
    background:linear-gradient(rgba(40, 104, 179, 0.9), rgba(77, 84, 185, 0.9));
}

.divider .divider-three {
    background:linear-gradient(rgba(233, 239, 247, 0.9), rgba(225, 226, 235, 0.9));
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}
  
hr {
    position: relative;
    border: none;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #ccc;
}

a img {
    background: transparent;
}

.odd a img {
    background: #f5f5f5;
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "monstserrat";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

strong {
    font-weight: 700;
}

em {
    font-weight: 300;
}

pre {
    background: #ebebeb;
    border: none;
    font-family: "Monaco";
    font-size: 16px;
    color: #666;
    padding: 20px;
    line-height: 28px;
}

small {
    font-size: 12px;
}

blockquote,
blockquote p {
    line-height: 28px;
    color: #999;
    font-weight: 300;
    font-style: italic;
}

/* Images */

.overflow-image {
    margin-top: -65px;
}


/* Links */

a {
    color: #3498db;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: yellowgreen;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background-image:linear-gradient(rgba(37, 92, 153, 0.7), rgba(20, 49, 81, 0.8)),url('../images/header-bg.jpg');
    margin-top: -50px;
    padding-top: 120px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    color: #ffffff;
    margin-top: 90px;
    text-align: left;
    padding-bottom: 10px;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 70px;
    text-shadow: 2px 2px 2px rgb(37, 92, 153, 0.2);
}

#headerwrap p {
    color: rgb(245, 245, 245);
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    line-height: 40px;
    margin-left: 70px;
    text-shadow: 2px 2px 2px rgb(37, 92, 153, 0.5);
}

#greywrap {
    background: #f5f5f5;
    margin-top: 0px;
    padding-top: 40px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#greywrap .callout {
    margin-bottom: 20px;
}

#greywrap p {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#greywrap .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;
}

/* ==========================================================================
   footer
   ========================================================================== */
#footerwrap {
    background: rgba(37, 92, 153);
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

#footerwrap h4 {
    color: white;
}


/* ==========================================================================
   section-divider
   ========================================================================== */

.section-divider {
    z-index: 999;
    width: 100%;
    display: table;
    max-height: 450px;
    border-bottom: 2px solid #E6EAED;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-top: 45px;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;
    text-align: center;
}

.textdivider h1 {
    padding-top: 70px;
    color: white;
    font-size: 40px;
}

.textdivider p {
    color: white;
    font-size: 25px;
}


/* Section Dividers Backgrounds */

.divider1 {
    background-image:linear-gradient(rgba(37, 92, 153, 0.3), rgba(37, 92, 153, 0.5)), url('../images/bg/divider1.jpg')
}

.divider2 {
    background-image:linear-gradient(rgba(37, 92, 153, 0), rgba(37, 92, 153, 0.5)),url('../images/bg/divider2.jpg');
}

.divider3 {
    background-image:linear-gradient(rgba(37, 92, 153, 0), rgba(37, 92, 153, 0)), url('../images/bg/divider3.jpg');
    margin-top: 0px;
}



/* ==========================================================================
   main-slider 
   ========================================================================== */
#main-slider {
    background-image:linear-gradient(rgba(37, 92, 153, 0.7), rgba(4, 47, 95, 0.6)),url('../images/bg/divider4.jpg');
    padding: 150px 50px;
    color: #fff;
  }
  #main-slider .item {
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
    text-align: center;
  }
  #main-slider .item:first-child {
    top: auto;
    position: relative;
  }
  #main-slider .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out 500ms;
    -o-transition: opacity ease-in-out 500ms;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 2;
  }
  #main-slider .item.active h1 {
    -webkit-animation: scaleUp 400ms;
    -moz-animation: scaleUp 400ms;
    -o-animation: scaleUp 400ms;
    -ms-animation: scaleUp 400ms;
    animation: scaleUp 400ms;
  }
  #main-slider .prev,
  #main-slider .next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    display: inline-block;
    margin-top: -50px;
    font-size: 24px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    z-index: 5;
  }
  #main-slider .prev:hover,
  #main-slider .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  #main-slider .prev {
    left: 9px;
  }
  #main-slider .next {
    right: 9px;
  }
 #main-slider h1 {
    font-size: 30px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
/* ==========================================================================
   btn Section
   ========================================================================== */
   .btn-primary {
    border-color: yellowgreen;
    color: #fff;
    background-color: green;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    border-color: limegreen;
    color: #fff;
    background-color: limegreen;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: yellowgreen;
    background-color: yellowgreen;
}

.btn-primary .badge {
    color: yellowgreen;
    background-color: #fff;
}

.btn {
    border-radius: 300px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: none;
    padding: 12px 18px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.4s ease-in;
}

.btn-lg {
    padding:15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: yellowgreen;
}

.bg-primary {
    background-color: yellowgreen;
}


/* ==========================================================================
   CONTACT US
   ========================================================================== */


#contact {
    padding: 150px 50px;
}

#contact h2 {
    text-align: center;
    padding-bottom: 30px;
}

#contact .form-control {
    background:rgba(37, 92, 153);
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: all 0.4s ease-in;
    color: #fff;
}

#contact .form-control:focus {
    background: #404040;
}

#contact input {
    height: 53px;
}

.form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media screen and (max-width:1050px),
screen and (max-device-width:1050px) {
    body .header {
        background-attachment: scroll;
    }
}


/*ipad portrait*/

@media only screen and (min-device-width:768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .header {
        background-attachment: scroll;
    }
}

@media screen and (max-width:769px) {
    #headerwrap h1 {
        font-size: 35px;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgb(37, 92, 153, 0.2);
    }
    #headerwrap p {
        font-size: 20px;
        line-height: 38px;
    }
}